<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnRjaGF0Z3B0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxT
		dHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvZ2RiaW5nXC9Td2lmdENo
		YXRHUFQifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEuMS4wIiwidXBwZXJCb3VuZCI6
		IjIuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiVGVuZHJpbCIsInBhY2th
		Z2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpb
		XSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0sInBy
		b2R1Y3RzIjpbeyJuYW1lIjoiVGVuZHJpbCIsInNldHRpbmdzIjpbeyJidW5k
		bGVJZGVudGlmaWVyIjpbImNvbS5nZGIudGVuZHJpbCJdfSx7InRlYW1JZGVu
		dGlmaWVyIjpbIjlWVjU1OFg4SjMiXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIx
		LjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpb
		eyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6
		eyJyYXdWYWx1ZSI6InRlYWwifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1
		ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkucHJvZHVjdGl2aXR5In0sImFwcElj
		b24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdWYWx1ZSI6ImJvYXQi
		fX19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGll
		cyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRh
		dGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319
		LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7
		ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1d
		LCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUi
		Om51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5j
		aWVzIjpbeyJwcm9kdWN0IjpbIlN3aWZ0Q2hhdEdQVCIsIlN3aWZ0Q2hhdEdQ
		VCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoiLiIsInJlc291cmNl
		cyI6W10sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVh
		dHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wi
		OiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJTd2lmdENoYXRHUFQiLCJT
		d2lmdENoYXRHUFQiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUi
		OiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVV
		cGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxz
		In19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjguMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		mOL0LdQapAaokvzSb87ZWiwApLmFYVyqX0/nRBD6xho=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
